<table>
  <thead>
    <tr>
      <th>Guru</th>
      <th>Score</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gurus.each do |guru| %>
      <tr>
        <td><%= image_tag(guru.picture_url, :size => "160x100") %></td>
        <td><%= guru.score %></td>
      </tr>
    <% end %>
  </tbody> 
</table>


